<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.admin.mapper.CommentsMapper">


    <sql id="whereSql">
        <where>
            <if test="content != null and content != '' ">
                and content = #{content}
            </if>
            <if test="username != null and username != '' ">
                and userid
                in (select c.id from t_custorm
                c where c.username like concat('%',#{username},'%'))
            </if>
        </where>
    </sql>

    <!-- 分页查询评论总数-->
    <select id="queryTotal" parameterType="com.travel.common.query.CommentsQuery" resultType="java.lang.Long">
        select count(*) from t_comments
        <include refid="whereSql"></include>
    </select>

    <select id="queryData" parameterType="com.travel.common.query.CommentsQuery" resultType="com.travel.common.domain.Comments">
        select * from t_comments
        <include refid="whereSql"></include>
        limit #{start},#{pageSize}
    </select>




</mapper>
