@import './variables.scss';

.el-header {
  background-color: #3E263C;
  line-height: 60px;
  color:$textColor;

}
.elMenuCls {
  background-color: $headerBgColor;
  color:$textColor;
  overflow: auto;
}

.itemMenuCls{
  color:$textColor;
}
.asideCls{
  background-color: $headerBgColor;
  color:$textColor;
  overflow:-Scroll;


}

.oneCls {
  color:$textColor;

  &:hover {
    background-color: $hoverColor !important;
  }
  &:visited{
    color: $hoverColor !important;
  }
}
.el-submenu__title{
  color:$textColor;
  text-align: left;
  margin-left: 20px;
  &:hover {
    background-color: $hoverColor !important;
  }
}

.avatarCls {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebarCls{
  height: 60px;
  width: 230px
}

#app {
  &
  .nest-menu .el-submenu > .el-submenu_title,
  &
  .el-submenu .el-menu-item  {

    background-color:  $menuBgColor !important;
    &:hover {
      background-color: $hoverColor !important;
    }

  }
}
